main {
    margin-top: 5%;
}

.top-profil {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    /* padding: 0 40px; */
    align-items: center;
}

.photo-profil {
    height: 370px;
    width: 370px;
    border-radius: 100%;
    background: var(--main_gradient);
    z-index: 1;

}

.photo-profil>div {
    height: 350px;
    width: 350px;
    position: absolute;
    background-color: white;
    border-radius: 100%;
    transform: translateX(20px);
    z-index: 2;
    background-image: url("coatchad.png");
}

.text-profil {
    width: 50%;
    text-align: left;
}



.text-profil>h1 {
    font-size: 3.5em;
    font-family: 'Poppins';
    margin-bottom: 5px;
    /* text-transform: uppercase; */
}

.text-profil>p {
    font-size: 1.5em;
    text-align: left;
    margin-bottom: 50px;
}

.boutons-profil {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0;
    
}
.boutons-profil>a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.35em;
    border: 2px solid rgba(255, 255, 255, 0.534);
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Poppins';
    border-radius: 10px;
    color: var(--white);
    background: var(--no_gradient);
    transition: 0.5s;
    
}

.boutons-profil>a:hover {
    background: white;
    color: black;
    border-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}




.fleche_bas>svg {
    width: 60px;
    height: 60px;
}


section>h2 {
    font-size: 2.5em;
    text-align: left;
    margin-bottom: 40px;
}

section>p {
    margin: 20px 0;
    text-align: left;
    font-size: 1.35em;
}


.resume {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    
}

.resume>div {
    width: 30%;
}

.resume>p {
    font-size: 1.5em;
    transform: rotate(0deg);
}






.resume>div>p:nth-child(1) {
    font-family: 'Poppins';
    text-transform: uppercase;
    font-size: 1em;
}

.resume>div>p:nth-child(2) {
    font-size: 0.9em;
}

.resume>div>p:nth-child(3) {
    font-size: 1.5em;
}



.comp_boite {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}


.competence-container {
    width: 85%;
}

footer {
    font-size: 1.3em;
}